head
    meta(charset="utf-8")

    title WP Downloader

    meta(name="description" content=lang.description)
    meta(name="keywords" content=lang.keywords)
    meta(name="author" content="MaximilianGT500")

    meta(name="viewport" content="width=device-width, initial-scale=0.9")

    meta(property="og:url" content=lang.url)
    meta(property="og:type" content="website")
    meta(property="og:title" content=lang.title)
    meta(property="og:description" content=lang.description)
    meta(property="og:image" content=lang.image)
    meta(property="og:site_name" content=lang.domain)

    meta(name="twitter:card" content="summary")
    meta(property="twitter:domain" content=lang.domain)
    meta(property="twitter:url" content=lang.url)
    meta(name="twitter:title" content=lang.title)
    meta(name="twitter:description" content=lang.description)
    meta(name="twitter:image" content=lang.image)

    link(rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png")
    link(rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#ff6b30")
    link(rel="shortcut icon" href="/icons/favicon.ico")
    meta(name="msapplication-TileColor" content="#ff6b30")
    meta(name="theme-color" content="#ff6b30")

    link(rel="stylesheet" href="/style.css")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    link(href="/font/font.css" rel="stylesheet")